services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - '5672:5672'
      - '15672:15672'
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ['CMD', 'rabbitmq-diagnostics', '-q', 'ping']
      interval: 5s
      timeout: 5s
      retries: 10

  api:
    build:
      context: ..
      dockerfile: services/api/Dockerfile
    container_name: ticket-api
    ports:
      - '3000:3000'
    environment:
      NODE_ENV: development
      PORT: 3000
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672
    depends_on:
      rabbitmq:
        condition: service_healthy
    command: npm run dev

  fulfillment:
    build:
      context: ..
      dockerfile: services/fulfillment/Dockerfile
    container_name: ticket-fulfillment
    environment:
      NODE_ENV: development
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672
    depends_on:
      rabbitmq:
        condition: service_healthy
    command: npm run dev

  analytics:
    build:
      context: ..
      dockerfile: services/analytics/Dockerfile
    container_name: ticket-analytics
    ports:
      - '4000:4000'
    environment:
      NODE_ENV: development
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672
    depends_on:
      rabbitmq:
        condition: service_healthy
    command: npm run dev
